body {
    height: 100vh;
    width: 100vw;
}

header {
    background-image: url(images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 400px;
}

#header {
    display: flex;
    margin-top: 250px;
    flex-direction: column;
}

#logo-header {
    height: 60px;
    width: 60px;
    display: flex;
    justify-items: center;
}

#conteudo-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    font-size: 48px;
    padding: 20px;
    font-weight: bold;
    color: hsl(210, 10%, 33%);
}

#subtitulo {
    font-size: 20px;
    color: hsl(201, 11%, 66%);
    width: 65%;
    text-align: center;
}

.botoes {
    padding-top: 18px;
    display: flex;
    justify-content: center;
    
}

button {
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-style: bold;
    font-size: 17px;
    margin: 20px;
}

#botao-azul {
    background: hsl(233, 100%, 69%);
}

#botao-verde {
    background: hsl(171, 66%, 44%);
}

main {
    margin-top: 200px;
}

.texto-centralizado {
    width: 100vw;
    margin: 100px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-centralizado h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    color: hsl(210, 10%, 33%);
}

.texto-centralizado p {
    font-size: 18px;
    width: 40vw;
    text-align: center;
    color: hsl(201, 11%, 66%);
    margin-top: 15px;
}

#imagem-lista {
    display: flex;
    margin-top: 120px;

}

#imagem-computador {
    width: 55vw;
}

#lista-texto {
    text-align: left;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#lista-texto h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    color: hsl(210, 10%, 33%);
}

#lista-texto p {
    font-size: 18px;
    margin-bottom: 50px;
    color: hsl(201, 11%, 66%);
    margin-right: 250px;
}

#imagem-centralizada {
    width: 60vw;
    margin-top: 70px;
    

}


#lista-imagem ul {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    
    
}

.icones-texto {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;

}



.icones-texto h4 {
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0 20px 0;
    text-align: center;
    color: hsl(210, 10%, 33%);
}

.icones-texto p {
    text-align: center;
    font-size: 20px;
    color: hsl(201, 11%, 66%);
    margin: 0 30px 0 30px;
   

}

#container-empresas{
margin: 0 70px 0  70px;


}

#icone-empresas {
    display: flex;
    justify-content: space-around;
    height: 110px;
    
}

#icone-empresas img {
    width: 130px;
}

#container-footer {
    background: rgb(221, 219, 219);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    justify-items: flex-start;
}

#container-footer img {
    width: 50px;
    height: 50px;
    
}

#secao-1 {
display: flex;
justify-content: space-between;
margin-left: 150px;
}

#secao-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
    width: 70%;
   
}

.footer-texto {
    margin: 20px 50px 0px 50px;
    color: hsl(201, 11%, 66%);
    font-size: 20px;
}

#secao-3 ul {
    display: flex;
    margin-right: 150px;
    

}

#secao-3 img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
    

}
